Repository codestates-seb/seb44_main_036, pull requests merged in 2023-07, with the labels that each got.

#44 [FE] 메인페이지 뷰 및 params 작업
  client/package.json
  client/src/assets/category/all.png
  client/src/assets/category/beauty.png
  client/src/assets/category/character.png
  client/src/assets/category/culture.png
  client/src/assets/category/etc.png
  client/src/assets/category/fashion.png
  client/src/assets/category/food.png
  client/src/assets/category/game.png
  client/src/assets/category/index.ts
  client/src/assets/category/living.png
  client/src/assets/category/pet.png
  client/src/assets/category/sport.png
  client/src/assets/category/tech.png
  client/src/assets/common/arrow-left.png
  client/src/assets/common/arrow-right.png
  client/src/assets/common/index.ts
  client/src/assets/like/heart-empty.png
  client/src/assets/like/heart.png
  client/src/assets/like/index.ts
  client/src/common/constants/index.ts
  client/src/common/constants/sort.ts
  client/src/components/carousel/Carousel.tsx
  client/src/components/carousel/SlideController.tsx
  client/src/components/carousel/index.ts
  client/src/components/category/Category.tsx
  client/src/components/category/CategoryList.tsx
  client/src/components/category/index.ts
  client/src/components/project/ProjectHeader.tsx
  client/src/components/project/ProjectItem.tsx
  client/src/components/project/ProjectList.tsx
  client/src/components/project/index.ts
  client/src/components/ui/Like.tsx
  client/src/components/ui/Patch.tsx
  client/src/components/ui/ProgressBar.tsx
  client/src/components/ui/index.ts
  client/src/hooks/useSetParams.tsx
  client/src/index.css
  client/src/main.tsx
  client/src/pages/MainPage.tsx
  client/tailwind.config.js
  client/yarn.lock
Labels: client, PRO

#47 [FE] 스크롤 업 버튼
  client/src/assets/scrollup/index.ts
  client/src/assets/scrollup/scrollup-hover.png
  client/src/assets/scrollup/scrollup.png
  client/src/components/ScrollUpButton/ScrollUpButton.tsx
Labels: client, OPT

#45 [FE] 회원가입
  client/package.json
  client/src/Root.tsx
  client/src/assets/icons/search_icon.svg
  client/src/assets/icons/warnig_icon.svg
  client/src/assets/logos/google_logo.svg
  client/src/assets/logos/kakao_logo.svg
  client/src/assets/logos/logo.svg
  client/src/common/api/api.ts
  client/src/common/api/authApi.ts
  client/src/common/api/instance.ts
  client/src/common/api/interceptors.ts
  client/src/common/constants/regexs.ts
  client/src/common/types/authTypes.ts
  client/src/common/utils/decodeJWT.ts
  client/src/components/Auth/AuthInput.tsx
  client/src/components/Auth/SocialButton.tsx
  client/src/components/Auth/SocialForm.tsx
  client/src/components/Header/Header.tsx
  client/src/components/ui/Button.tsx
  client/src/components/ui/Strong.tsx
  client/src/components/ui/TitleText.tsx
  client/src/components/ui/index.ts
  client/src/index.css
  client/src/pages/LoginPage.tsx
  client/src/pages/SignUpPage.tsx
  client/src/vite-env.d.ts
  client/vite.config.ts
  client/yarn.lock
Labels: client, MEM

#54 [FE] 유저 정보 조회
  client/package-lock.json
  client/public/test.svg
  client/src/assets/mypage/exit-hover.png
  client/src/assets/mypage/exit.png
  client/src/assets/mypage/index.ts
  client/src/assets/mypage/setting-hover.png
  client/src/assets/mypage/setting.png
  client/src/assets/mypage/update.png
  client/src/components/UserModal/UserModal.tsx
  client/src/components/UserModal/index.ts
  client/src/components/mypage/MyPageLikeItem.tsx
  client/src/components/mypage/MyPageLikeList.tsx
  client/src/components/mypage/MyPageMainItem.tsx
  client/src/components/mypage/MyPageMainList.tsx
  client/src/components/mypage/index.ts
  client/src/pages/MyPage.tsx
  client/yarn.lock
Labels: client, MY

#55 [FE] 프로젝트 상세 페이지 뷰 구현 및 Toast UI Editor 도입
  client/package.json
  client/src/assets/like/index.ts
  client/src/assets/like/share.png
  client/src/components/editor/TuiEditor.tsx
  client/src/components/editor/TuiViewer.tsx
  client/src/components/editor/index.ts
  client/src/components/project/ProjectDetail.tsx
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/index.ts
  client/src/components/reward/Reward.tsx
  client/src/components/reward/RewardList.tsx
  client/src/components/reward/index.ts
  client/src/components/ui/Patch.tsx
  client/src/components/ui/SquareButton.tsx
  client/src/components/ui/index.ts
  client/src/pages/ProjectPage.tsx
  client/yarn.lock
Labels: client, PRO

#60 [FE] 로그인 작업
  client/package.json
  client/src/Root.tsx
  client/src/common/api/api.ts
  client/src/common/api/authApi.ts
  client/src/common/api/instance.ts
  client/src/common/api/interceptors.ts
  client/src/common/types/authTypes.ts
  client/src/common/utils/cookie.ts
  client/src/common/utils/toast.tsx
  client/src/components/Header/Header.tsx
  client/src/components/toast/toast.tsx
  client/src/hooks/useReducer.ts
  client/src/main.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/SignUpPage.tsx
  client/src/reducer/index.ts
  client/src/reducer/toastSlice.tsx
  client/src/reducer/userSlice.tsx
  client/src/store.ts
  client/yarn.lock
Labels: client, MEM

#65 [FE] 공유하기
  client/public/logo.svg
  client/src/assets/icons/exit_icon.svg
  client/src/components/Header/Header.tsx
  client/src/components/kakaoshare/KakaoShareButton.tsx
  client/src/components/kakaoshare/ShareModal.tsx
  client/src/components/project/ProjectInfo.tsx
  client/src/components/ui/SquareButton.tsx
  client/src/hooks/useOnClickOutside.ts
Labels: client, OPT

#67 [FE] 유저 정보 수정
  client/index.html
  client/package-lock.json
  client/src/assets/mypage/index.ts
  client/src/assets/mypage/resign-hover.png
  client/src/assets/mypage/resign.png
  client/src/components/UserModal/DaumPostcodeButton.tsx
  client/src/components/UserModal/UserModal.tsx
  client/src/components/UserModal/index.ts
  client/src/components/mypage/MyPageHeader.tsx
  client/src/components/mypage/TabButton.tsx
  client/src/components/mypage/UserProfile.tsx
  client/src/components/mypage/index.ts
  client/src/pages/MyPage.tsx
  client/yarn.lock
Labels: client, MY

#68 [FE] 프로젝트 펀딩 페이지
  client/src/assets/payment/index.ts
  client/src/assets/payment/payment-equal.png
  client/src/assets/payment/payment-minus.png
  client/src/assets/payment/truck.png
  client/src/common/utils/calculateTotalPrice.ts
  client/src/components/payment/PaymentInfo.tsx
  client/src/components/payment/PaymentReward.tsx
  client/src/components/payment/index.ts
  client/src/pages/PaymentPage.tsx
  client/yarn.lock
Labels: client, PRO

#72 [FE] 프로젝트 등록
  client/package.json
  client/src/assets/common/spinner.svg
  client/src/common/api/api.ts
  client/src/common/constants/sort.ts
  client/src/common/utils/functions.ts
  client/src/components/editor/TuiEditor.tsx
  client/src/components/ui/Tag.tsx
  client/src/components/ui/index.ts
  client/src/components/writepage/TagInput.tsx
  client/src/components/writepage/index.ts
  client/src/components/writepage/styles.ts
  client/src/index.css
  client/src/pages/WritePage.tsx
  client/yarn.lock
Labels: client, PRO

#74 Feat: Funding
  server/build.gradle
  server/src/main/java/com/codestates/server/funding/controller/FundingController.java
  server/src/main/java/com/codestates/server/funding/dto/FundingDto.java
  server/src/main/java/com/codestates/server/funding/entity/Funding.java
  server/src/main/java/com/codestates/server/funding/mapper/FundingMapper.java
  server/src/main/java/com/codestates/server/funding/repository/FundingRepository.java
  server/src/main/java/com/codestates/server/funding/service/FundingService.java
  server/src/main/java/com/codestates/server/member/controller/MemberController.java
  server/src/main/java/com/codestates/server/member/dto/MemberResponseDto.java
  server/src/main/java/com/codestates/server/member/entity/Member.java
  server/src/main/java/com/codestates/server/member/mapper/MemberMapper.java
  server/src/main/java/com/codestates/server/member/repository/MemberRepository.java
  server/src/main/java/com/codestates/server/member/service/MemberService.java
  server/src/main/java/com/codestates/server/project/controller/ProjectController.java
  server/src/main/java/com/codestates/server/project/dto/FundingDto.java
  server/src/main/java/com/codestates/server/project/dto/ProjectDto.java
  server/src/main/java/com/codestates/server/project/entity/Project.java
  server/src/main/java/com/codestates/server/project/mapper/ProjectMapper.java
  server/src/main/java/com/codestates/server/project/repository/ProjectRepository.java
  server/src/main/java/com/codestates/server/project/service/ProjectService.java
  server/src/main/resources/application-local.yml
  server/src/main/resources/application-server.yml
  server/src/main/resources/application.yml
Labels: server, PRO

#75 Fix: testFile
  server/src/test/java/com/codestates/server/ServerApplicationTests.java
Labels: server, OPT

#77 Feat/fe/auth
  client/package.json
  client/src/assets/icons/marker_icon.png
  client/src/assets/mypage/index.ts
  client/src/assets/mypage/profile.jpg
  client/src/common/api/instance.ts
  client/src/common/types/kakao-maps-services.d.ts
  client/src/components/Auth/LoginForm.tsx
  client/src/components/Auth/SignUpForm.tsx
  client/src/components/Header/Header.tsx
  client/src/components/kakaomap/KakaoMap.tsx
  client/src/components/kakaoshare/KakaoShareButton.tsx
  client/src/components/kakaoshare/ShareModal.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/SignUpPage.tsx
  client/tsconfig.json
  client/yarn.lock
Labels: client, OPT

#85 Feat/fe/pick up
  client/src/common/api/api.ts
  client/src/common/api/instance.ts
  client/src/common/constants/sort.ts
  client/src/common/types/responseTypes.ts
  client/src/common/utils/formatting.ts
  client/src/common/utils/handleImageError.ts
  client/src/common/utils/imageCompressor.ts
  client/src/common/utils/index.ts
  client/src/components/Auth/LoginForm.tsx
  client/src/components/Auth/SignUpForm.tsx
  client/src/components/Auth/SocialForm.tsx
  client/src/components/Auth/index.ts
  client/src/components/carousel/SlideController.tsx
  client/src/components/kakaomap/DaumPost.ts
  client/src/components/kakaomap/KakaoMap.tsx
  client/src/components/project/ProjectDetail.tsx
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/ProjectItem.tsx
  client/src/components/project/ProjectList.tsx
  client/src/components/reward/Reward.tsx
  client/src/components/writepage/styles.ts
  client/src/pages/LoginPage.tsx
  client/src/pages/SignUpPage.tsx
  client/src/pages/WritePage.tsx
  client/tsconfig.json
  client/yarn.lock
Labels: client, PRO

#86 [FE] 메인페이지 / 상세페이지 데이터 페칭 등
  client/src/common/constants/sort.ts
  client/src/common/types/responseTypes.ts
  client/src/common/utils/formatting.ts
  client/src/common/utils/index.ts
  client/src/components/editor/TuiEditor.tsx
  client/src/components/project/ProjectDetail.tsx
  client/src/components/project/ProjectInfo.tsx
  client/src/pages/ProjectPage.tsx
  client/src/pages/WritePage.tsx
Labels: client, PRO

#88 [FE] 프로젝트 펀딩 페이지 데이터패칭
  client/src/common/utils/calculateTotalPrice.ts
  client/src/components/payment/PaymentInfo.tsx
  client/src/components/payment/PaymentReward.tsx
Labels: client, PRO

#90 [FE] 파일소문자 변경
  client/src/Root.tsx
  client/src/components/@auth/AuthInput.tsx
  client/src/components/@auth/LoginForm.tsx
  client/src/components/@auth/SignUpForm.tsx
  client/src/components/@auth/SocialButton.tsx
  client/src/components/@auth/SocialForm.tsx
  client/src/components/@auth/index.ts
  client/src/components/@header/Header.tsx
  client/src/components/@usermodal/DaumPostcodeButton.tsx
  client/src/components/@usermodal/UserModal.tsx
  client/src/components/@usermodal/index.ts
  client/src/components/payment/PaymentInfo.tsx
  client/src/components/ui/ScrollUpButton.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/SignUpPage.tsx
Labels: client

#91 [FE] 파일 소문자 변경
  client/src/Root.tsx
  client/src/components/auth/AuthInput.tsx
  client/src/components/auth/LoginForm.tsx
  client/src/components/auth/SignUpForm.tsx
  client/src/components/auth/SocialButton.tsx
  client/src/components/auth/SocialForm.tsx
  client/src/components/auth/index.ts
  client/src/components/header/Header.tsx
  client/src/components/payment/PaymentInfo.tsx
  client/src/components/usermodal/DaumPostcodeButton.tsx
  client/src/components/usermodal/UserModal.tsx
  client/src/components/usermodal/index.ts
  client/src/pages/LoginPage.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/PaymentPage.tsx
  client/src/pages/SignUpPage.tsx
  client/src/pages/WritePage.tsx
Labels: client

#92 feat: 카카오 공유 수정
  client/src/components/header/Header.tsx
  client/src/components/header/UserNav.tsx
  client/src/components/kakaomap/KakaoMap.tsx
  client/src/components/kakaoshare/ShareModal.tsx
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/ProjectList.tsx
Labels: client, OPT

#93 [FE] 프로젝트 수정 / 삭제 및 에디터 수정 등
  client/src/common/api/api.ts
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/ProjectItem.tsx
  client/src/components/writepage/TagInput.tsx
  client/src/components/writepage/styles.ts
  client/src/index.css
  client/src/pages/WritePage.tsx
Labels: client, PRO

#94 [FE] 유저 정보 조회 데이터 페칭
  client/src/common/api/api.ts
  client/src/components/mypage/MyPageHeader.tsx
  client/src/components/mypage/UserProfile.tsx
  client/src/components/usermodal/UserModal.tsx
  client/src/pages/MyPage.tsx
  client/src/reducer/userSlice.tsx
Labels: client, MY

#95 [FE] 프로젝트 만들기 수정
  client/src/Root.tsx
  client/src/common/api/authApi.ts
  client/src/components/header/UserNav.tsx
Labels: client, PRO

#96 [FE] 유저 정보 조회 수정
  client/src/components/mypage/MyPageLikeItem.tsx
  client/src/components/mypage/MyPageMainItem.tsx
  client/src/components/mypage/UserProfile.tsx
  client/src/pages/MyPage.tsx
Labels: client, MY

#97 [FE] 마이페이지 새로고침 수정
  client/src/Root.tsx
  client/src/common/api/authApi.ts
  client/src/common/api/instance.ts
  client/src/common/utils/storage.ts
  client/src/components/project/ProjectInfo.tsx
  client/src/main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/WritePage.tsx
Labels: client

#102 [FE] 유저 정보 수정 PATCH 구현
  client/src/common/api/api.ts
  client/src/components/mypage/MyPageHeader.tsx
  client/src/components/mypage/TabButton.tsx
  client/src/components/usermodal/UserModal.tsx
  client/src/pages/MyPage.tsx
  client/src/reducer/userSlice.tsx
Labels: client, MY

#107 [FE] 필터링, 좋아요 구현
  client/src/assets/common/coin.png
  client/src/assets/common/index.ts
  client/src/assets/common/lizard.png
  client/src/common/api/api.ts
  client/src/common/constants/sort.ts
  client/src/common/types/responseTypes.ts
  client/src/common/utils/formatting.ts
  client/src/common/utils/index.ts
  client/src/components/carousel/Carousel.tsx
  client/src/components/category/CategoryList.tsx
  client/src/components/project/ProjectHeader.tsx
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/ProjectItem.tsx
  client/src/components/project/ProjectList.tsx
  client/src/components/ui/Like.tsx
  client/src/components/ui/SquareButton.tsx
  client/src/pages/WritePage.tsx
  client/vercel.json
Labels: client, PRO

#108 [FE] 좋아요 로직 / 캐러셀 너비 수정
  client/src/components/carousel/Carousel.tsx
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/ProjectItem.tsx
  client/src/components/project/ProjectList.tsx
Labels: client, PRO

#111 [FE] Empty 컴포넌트 생성 및 기타 수정
  client/src/assets/common/index.ts
  client/src/assets/common/x-square.png
  client/src/components/project/ProjectList.tsx
  client/src/components/ui/Empty.tsx
  client/src/components/ui/index.ts
  client/src/pages/MainPage.tsx
  client/src/pages/ProjectPage.tsx
Labels: client, OPT

#113 [FE] 로그인이 필요한 접근 차단/ 로그인일때 로그인/회원가입 접근 차단
  client/src/components/auth/LoginForm.tsx
  client/src/components/auth/SocialButton.tsx
  client/src/components/auth/SocialForm.tsx
  client/src/components/header/Header.tsx
  client/src/components/kakaomap/KakaoMap.tsx
  client/src/components/route/AuthRoute.tsx
  client/src/components/route/PublicRoute.tsx
  client/src/main.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/SearchPage.tsx
  client/src/pages/index.ts
Labels: client

#117 [FE] hotfix: vercel 수정
  client/src/common/api/authApi.ts
  client/src/components/kakaomap/KakaoMap.tsx
  client/src/components/route/AuthRoute.tsx
  client/src/components/usermodal/UserModal.tsx
  client/src/pages/MyPage.tsx
  client/vercel.json
Labels: client

#118 3차 배포
  client/src/common/api/authApi.ts
  client/src/components/kakaomap/KakaoMap.tsx
  client/src/components/route/AuthRoute.tsx
  client/src/components/usermodal/UserModal.tsx
  client/src/pages/MyPage.tsx
  client/vercel.json
Labels: client

#131 [FE] 정렬, api, responseType 수정, 태그 추가
  client/src/common/types/responseTypes.ts
  client/src/components/project/ProjectDetail.tsx
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/ProjectItem.tsx
  client/src/components/project/ProjectList.tsx
Labels: client, PRO, OPT

#124 [FE]
  client/src/Root.tsx
  client/src/assets/common/ad.png
  client/src/assets/common/adv.png
  client/src/assets/common/index.ts
  client/src/common/api/instance.ts
  client/src/components/auth/LoginForm.tsx
  client/src/components/auth/SocialForm.tsx
  client/src/components/header/Header.tsx
  client/src/components/header/SearchInput.tsx
  client/src/components/kakaomap/DaumPost.ts
  client/src/components/kakaomap/KakaoMap.tsx
  client/src/components/route/AuthRoute.tsx
  client/src/pages/ProjectPage.tsx
  client/src/pages/SearchPage.tsx
  client/src/pages/WritePage.tsx
Labels: client

#132 [FE] 정렬 로직 및 작성자 식별 로직 수정
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/ProjectItem.tsx
  client/src/components/project/ProjectList.tsx
  client/src/reducer/userSlice.tsx
Labels: client, PRO

#133 feat: 태그 수정 기능 구현, 좋아요 기능 삭제
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/ProjectItem.tsx
  client/src/components/writepage/TagInput.tsx
  client/src/pages/WritePage.tsx
Labels: client, PRO

#134 5차 배포
  client/src/Root.tsx
  client/src/assets/common/ad.png
  client/src/assets/common/adv.png
  client/src/assets/common/index.ts
  client/src/common/api/instance.ts
  client/src/common/types/responseTypes.ts
  client/src/components/auth/LoginForm.tsx
  client/src/components/auth/SocialForm.tsx
  client/src/components/header/Header.tsx
  client/src/components/header/SearchInput.tsx
  client/src/components/kakaomap/DaumPost.ts
  client/src/components/kakaomap/KakaoMap.tsx
  client/src/components/project/ProjectDetail.tsx
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/ProjectItem.tsx
  client/src/components/project/ProjectList.tsx
  client/src/components/route/AuthRoute.tsx
  client/src/components/writepage/TagInput.tsx
  client/src/pages/ProjectPage.tsx
  client/src/pages/SearchPage.tsx
  client/src/pages/WritePage.tsx
  client/src/reducer/userSlice.tsx
  server/src/main/java/com/codestates/server/funding/service/FundingService.java
  server/src/main/java/com/codestates/server/member/dto/MemberDto.java
  server/src/main/java/com/codestates/server/project/controller/ProjectController.java
  server/src/main/java/com/codestates/server/project/dto/ProjectDto.java
  server/src/main/java/com/codestates/server/project/entity/Location.java
  server/src/main/java/com/codestates/server/project/entity/Project.java
  server/src/main/java/com/codestates/server/project/mapper/ProjectMapper.java
  server/src/main/java/com/codestates/server/project/repository/ProjectRepository.java
  server/src/main/java/com/codestates/server/project/service/ProjectService.java
  server/src/main/java/com/codestates/server/projectLike/repository/ProjectLikeRepository.java
  server/src/main/java/com/codestates/server/projectLike/service/ProjectLikeService.java
Labels: client

#138 [FE] 프로젝트 좋아요 등
  client/src/common/utils/scrollToTop.ts
  client/src/components/project/ProjectDetail.tsx
  client/src/components/project/ProjectInfo.tsx
  client/src/components/project/ProjectItem.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/ProjectPage.tsx
  client/src/pages/SignUpPage.tsx
Labels: client, PRO

#140 [FE] 마이 페이지 리팩토링
  client/src/common/api/api.ts
  client/src/common/constants/sort.ts
  client/src/components/mypage/MyPageFundingItem.tsx
  client/src/components/mypage/MyPageFundingList.tsx
  client/src/components/mypage/MyPageLikeItem.tsx
  client/src/components/mypage/MyPageLikeList.tsx
  client/src/components/mypage/MyPageMainItem.tsx
  client/src/components/mypage/MyPageMainList.tsx
  client/src/components/mypage/MyProjectList.tsx
  client/src/components/mypage/MyTabs.tsx
  client/src/components/mypage/TabButton.tsx
  client/src/components/mypage/UserProfile.tsx
  client/src/components/mypage/index.ts
  client/src/components/payment/PaymentInfo.tsx
  client/src/components/ui/Empty.tsx
  client/src/components/usermodal/UserModal.tsx
  client/src/pages/MyPage.tsx
Labels: client, MY

#143 [FE] 구글 로그인 구현
  client/src/components/auth/SocialForm.tsx
  client/src/pages/LoginPage.tsx
Labels: client, MY
